html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

/* FRONT PAGE */
.hero {
    max-width: 100%;
    max-height: auto;
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("back.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.hero-inner {
    margin-top: 0;
    margin-bottom: 0.5em;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ececea;
    overflow: hidden;
}


#title {
    position: absolute;
    top: 52%;
    font-family: 'Pacifico', cursive;
    width: 20vw;
    font-weight: lighter;
    font-size: 3.5vw;
    text-align:center;
    text-transform: uppercase;
    cursor: default;
    user-select: none;
    -mozilla- user-select: none;
    color: white;
}

.glyphicon {
    position: absolute;
    content:"\e259";
    top:90%;
    font-size: 2vw;
    cursor: pointer;
    padding: 10px;
}

.glyphicon:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.glyphicon:hover {
    border-style: solid;
    border-width: thin;
    border-radius: 100px;
    transition: 0.8s;
}

/* MEDIA QUERIES */

/*IPHONE 6/7/8 */
@media only screen and (device-width: 375px) and (orientation: portrait) {
    .hero {
    max-width: 100%;
    margin-bottom: -5px;
    max-height: auto;
    display: inline-block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("back.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    }
    
    .hero-inner {
    margin-top: 0;
    margin-bottom: 0.5em;
    width: 100vw;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ececea;
    overflow: hidden;
    }
}

/* iphone 6/7/8 plus */
@media only screen
    and (device-width : 414px) 
    and (device-height : 736px) {
    .hero {
    max-width: 100%;
    margin-bottom: -5px;
    max-height: auto;
    display: inline-block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("back.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    }
    
    .hero-inner {
    margin-top: 0;
    margin-bottom: 0.5em;
    width: 100vw;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ececea;
    overflow: hidden;
    }
}


/*iphone 10*/
@media only screen
    and (device-width : 375px) 
    and (device-height : 812px) {
    #title {
    font-size: 1.5em;
    width: 50%;
    top: 12.5%;
    }
}

@media only screen
    and (device-width : 375px) 
    and (device-height : 812px) {
    .hero-inner {
    margin-bottom: -35px;
    }
}

/* Galaxy s9+ */
@media only screen and (min-width: 360px) and (orientation: portrait) {
    .hero {
    max-width: 100%;
    margin-bottom: -152%;
    max-height: auto;
    display: inherit;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("back.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    }
}


@media only screen and (min-width: 360px) and (orientation: portrait) {
    
    #title {
    position: absolute;
    top: 12%;
    font-family: 'Pacifico', cursive;
    width: 40%;
    font-weight: lighter;
    text-align:center;
    text-transform: uppercase;
    cursor: default;
    user-select: none;
    color: white;
    font-size: 1.3em;
    }
}

    @media (max-width: 600px) {
    .glyphicon {
    display: none;
    }
}

@media only screen and (device-width: 375px) and (orientation: portrait) {
    #title {
    top: 15%;
    }
}

@media only screen and (device-width : 414px) and (device-height : 736px) {
    #title {
    top: 18%
    }
}

/* IPAD */

@media only screen and (device-width : 1024px) and (device-height : 1366px) {
    .hero {
    max-width: 100%;
    margin: 0% 0% 0% 0%;
    max-height: auto;
    display: inherit;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("back.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    background-position: bottom left;
    }
    
    #title {
    position: absolute;
    top: 55%;
    font-family: 'Pacifico', cursive;
    width: 55vw;
    font-weight: lighter;
    font-size: 7.5vw;
    text-align:center;
    text-transform: uppercase;
    cursor: default;
    user-select: none;
    -mozilla- user-select: none;
    color: white;
    }
        
    .glyphicon {
    font-size: 5vw;
    }
}



/*NAV BAR*/
.navbar {
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    border: none;
    z-index: 100;
}

.nav li a {
    color: #ececea !important;
}

ul {
    display: inline-block;
    width: 100%;
    text-align: center;
}

li {
    padding: 0px 20px 2px 10px;
    font-size: 1.25vw;
    letter-spacing: 2px;
    cursor: pointer;
    display: inline-block;
}

li:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.navbar.solid {
    background-color: #171b24;
    transition: background-color 1s ease 0s;
}
/*HAMBURGER MENU*/

#burger {
    position: fixed;
    padding: 3px 0px 3px 5px;
    font-size: 22px;
    color: white;
    background-color: #171b24;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 1.5px #ececea;
}

@media (min-width: 600px) {
    #burger {
        display: none;
    }
}

@media (max-width: 600px) {
    .navbar {
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    border: none;
    z-index: 100;
    top: 3.9%;
    }

    .nav li a {
    color: #ececea !important;
    }

    ul {
    display: inline-block;
    width: 100%;
    text-align: left;
    }   

    li {
    font-size: 3.25vw;
    letter-spacing: 2px;
    cursor: pointer;
    }

    li:hover {
    opacity: 0.5;
    transition: 0.3s;
    }

    .navbar.solid {
    display: none;
    }
    
    .navbar.mobileSolid {
    background-color: #2B2F37;
    }
}

@media only screen and (device-width: 375px) and (orientation: portrait) {
    .navbar {
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    border: none;
    z-index: 100;
    top: 4.4%;
    }
}

@media only screen and (device-width : 1024px) and (device-height : 1366px) {
    li {
    font-size: 2vw;
    }
}

/*ABOUT SECTION*/
#about {
    position: relative;
    padding-top: 1px;
    background-color:#ececea ;
    color: #2a3440;
    padding-bottom: 5vw;
}
#about_descript {
    margin: 20px;
	word-spacing: 5px;
    letter-spacing: 2px;
	line-height: 48px;
	font-size:1.5em;
	padding-left: 10px;
	padding-top:10px;
	font-weight: 200px;
    text-align: justify;
    font-size: 1vw;
    width: 50%;
    justify-content: center;
    position: relative;
    left: 23.5%;
}


h2 {
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
    padding-top: 30px;
    font-weight: bold;
    letter-spacing: 10px;
    
    
}

/* IPHONE 6/7/8 */
@media only screen and (device-width: 375px) and (orientation: portrait) {
    #about {
    margin-top: 105px;
    }
}

/* IPHONE 6/7/8 PLUS */
@media only screen
    and (device-width : 414px) 
    and (device-height : 736px) {
    #about_descript {
    margin-top:10px;
	line-height: normal;
	font-size: 3.5vw;
	padding: 20px 25px 50px 25px;
	font-weight: 100px;
    text-align: justify;
    width: 100%;
    justify-content: center;
    position: relative;
    left: -5%;
    display: flex;
    word-spacing: normal;
        
    }
}

@media only screen
    and (device-width : 414px) 
    and (device-height : 736px) {
    h2 {
    font-size: 1em;
    padding-top: 0px;
    }
}



/*IPHONE 10 */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) { 
    #about_descript {
    left: -5%;
    margin-bottom: -2px;
    }
}

/* GALAXY S9 PLUS */

@media only screen and (min-width: 360px) and (orientation: portrait) {
    #about {
    position: relative;
    padding-top: 1px;
    background-color:#ececea ;
    color: #2a3440;
    padding-bottom: 5vw;
    }
}

@media only screen and (min-width: 360px) and (orientation: portrait) {
    h2 {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    padding-top: 30px;
    font-weight: bold;
    letter-spacing: 10px;
    }
}

@media only screen and (min-width: 360px) and (orientation: portrait) {
    #about_descript {
    margin: 20px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    font-weight: lighter;
    text-align: justify;
    font-size: 0.6em;
    width: 88%;
    justify-content: center;
    position: relative;
    left: 0%;
    }
}

/*IPAD*/
@media only screen and (device-width : 1024px) and (device-height : 1366px) {
    #about {
    position: relative;
    padding-top: 1px;
    background-color:#ececea ;
    color: #2a3440;
    padding-bottom: 5vw;
    }
    
    #about_descript {
    margin: 20px;
    word-spacing: 4px;
    letter-spacing: 4px;
    line-height: 48px;
    padding-left: 10px;
    padding-top:10px;
    font-weight: 200px;
    text-align: justify;
    font-size: 2vw;
    width: 70%;
    justify-content: center;
    position: relative;
    left: 13%;
    }

    h2 {
    text-align: center;
    font-size: 3.5em;
    text-transform: uppercase;
    padding-top: 30px;
    font-weight: bold;
    letter-spacing: 10px;
        }
}


/*PROJECTS SECTION*/
#projects {
    text-transform: uppercase;
    margin-top: -20px;
    margin-bottom: -10px;
}

h3 {
    text-align: center;
	font-size: 2em;
	text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
    color: #ececea;
    padding-top: 4vw;
    padding-bottom: 5vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("back2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#comingsoon {
    text-align: center;
    padding: 10vw 0px 12vw 0px;
    background-color: #ececea;
    margin-top: -10px;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 1vw;
}

/*IPHONE 6/7/8 PLUS */
@media only screen and (device-width : 414px) and (device-height : 736px) {
    #comingsoon {
    font-size: 0.9em;
    padding-right: 10px;
    }
}

@media only screen and (device-width : 414px) and (device-height : 736px) {
    h3 {
    position: relative;
    padding-left:5px;
    font-size: 1em;
    background-image: none;
    background-color: #2a3440;
    }
}

/*IPHONE 6/7/8 PLUS */
@media only screen and (device-width : 375px) and (device-height : 812px) {
    h3 {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
    color: #ececea;
    padding-top: 4vw;
    padding-bottom: 5vw;
    background-image: none;
    background-color: #2a3440;  
    }
}

@media only screen and (device-width : 375px) and (device-height : 812px) {
    #comingsoon {
    font-size: 0.8em;
    }
}

/*GALAXY S9 PLUS*/
@media only screen and (min-width: 360px) and (orientation: portrait) {
    h3 {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
    color: #ececea;
    padding-top: 4vw;
    padding-bottom: 5vw;
    padding-left: 2vw;
    background-image: none;
    background-color: #2a3440;
    }
}

@media only screen and (min-width: 360px) and (orientation: portrait) {
    #comingsoon {
    font-size: 0.8em;
    }
}

@media only screen and (device-width : 1024px) and (device-height : 1366px) {
    #projects {
    text-transform: uppercase;
    margin-top: -20px;
    margin-bottom: -10px;
}

h3 {
    text-align: center;
	font-size: 3em;
	text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
    color: #ececea;
    padding-top: 4vw;
    padding-bottom: 5vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("back2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#comingsoon {
    text-align: center;
    padding: 10vw 0px 12vw 0px;
    background-color: #ececea;
    margin-top: -10px;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 2vw;
}   
}

/*CONTACT FORM*/

#contact {
    background-color: #ececea;
    color: #2a3440;
    padding-bottom: 1vw;
}

h4 {
    text-align: center;
	font-size: 2em;
	text-transform: uppercase;
    padding-top: 4vw;
    padding-bottom: 5vw;
    font-weight: bold;
    letter-spacing: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("back3.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ececea;
    
}
/*CONTACT FORM*/
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

.body {
    display:block;
    margin:0 auto;
    width:576px;
}

/*IPHONE 10 */
@media only screen and (device-width : 375px) and (device-height : 812px) {
    h4 {
    background-image: none;
    background-color: #2a3440;
        }
}

/*IPHONE 6/7/8 PLUS */
@media only screen and (device-width : 414px) and (device-height : 736px) {
    h4 {
    font-size: 1em;
    background-image: none;
    background-color: #2a3440;
    }
}

/*GALAXY S9 PLUS */
@media only screen and (min-width: 360px) and (orientation: portrait) {
    h4 {
    font-size: 1em;
    background-image: none;
    background-color: #2a3440;
    }
}

/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
    padding-top: 1vw;
    position: relative;
}

/* Style the text boxes */
input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:0px;
    font-weight: bold;
    letter-spacing: 1px;
    border-width: 1px;
    border-color: #171b24;
    background-color: #ececea;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

textarea {
	height:213px;
	background:url(images/textarea-bg.jpg) right no-repeat #ececea;
}

#submit {
    width:127px;
    height:38px;
    cursor:pointer;
    position:relative;
    left: 35%;
}

#submit:hover {
    opacity:.5;
    transition: 0.1s;
}

/*@media only screen and (device-width : 414px) and (device-height : 736px) {
    input, textarea {
     width: 400px;
    }
}
*/

/*IPHONE 6/7/8 PLUS 
@media only screen and (device-width : 414px)  and (device-height : 736px) {
    #submit {
    left: 140px;
    margin-bottom: 3px;
    }
}
*/
/*IPHONE 10 
@media only screen and (device-width : 375px)  and (device-height : 812px) {
    input, textarea {
    width: 375px;
    }
}

@media only screen and (device-width : 375px) and (device-height : 812px) {
    #submit {
    left: 125px;
    }
}
*/
/*GALAXY S9 PLUS*/
@media only screen and (min-width: 360px) and (orientation: portrait) {
    input, textarea {
    width:80vw;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    margin-top:3px;
    font-size:0.9em;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:0px;
    font-weight: bold;
    letter-spacing: 1px;
    border-width: 1px;
    border-color: #171b24;
    background-color: #ececea;
    }
        
    form {
    width:80%;
    }
}

@media only screen and (min-width: 360px) and (orientation: portrait) {
    textarea {
    height: 150px;
    }
}

@media only screen and (min-width: 360px) and (orientation: portrait) {
    #submit{
    left: 54.5%;
    }
}

/*IPAD ///////////////////////////////////////////////////////////////////*/
@media only screen and (device-width : 1024px) and (device-height : 1366px) {
    #contact {
    background-color: #ececea;
    color: #2a3440;
    padding-bottom: 1vw;
    }

    h4 {
    text-align: center;
	font-size: 3em;
	text-transform: uppercase;
    padding-top: 4vw;
    padding-bottom: 5vw;
    font-weight: bold;
    letter-spacing: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("back3.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ececea;
    
    }
    
    form {
    margin:0 auto;
    width:50%;
    padding-top: 1vw;
    position: relative;
    font-size: 2vw
    }

/* Style the text boxes */
    input, textarea {
    width:100%;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:0px;
    font-weight: bold;
    letter-spacing: 1px;
    border-width: 1px;
    border-color: #171b24;
    background-color: #ececea;
    }

    input:focus, textarea:focus {
    border:1px solid #97d6eb;
    }

    textarea {
	height:213px;
	background:url(images/textarea-bg.jpg) right no-repeat #ececea;
    }
    #submit {
    width:127px;
    height:38px;
    cursor:pointer;
    position:relative;
    left: 37%;
}
}
/*///////////////////////////////////////////////////////////////////////////////////

/*FOOTER*/
footer {
    padding-top: 1vw;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #171b24;
}

.fab {
    font-size: 2em;
    margin: 3rem;
    border: 1px solid #2a3440;
    width: 50px;
    padding: 10px;
    background-color: #2a3440;
    color: #ececea;
    text-decoration:none !important;
    user-select: none;
}


.fab:hover {
    color: #2a3440;
    transform: scale(0.90);
    transition: 0.1s;
    background-color: #ececea;
    box-shadow: none;
    
}

.copyright {
    position: relative;
}
    
@media (max-width:600px) {
    .fab {
    font-size: 1.5em;
    margin: 2rem;
    border: 1px solid #2a3440;
    width: 50px;
    padding: 13px;
    background-color: #2a3440;
    color: #ececea;
    text-decoration:none !important;
    user-select: none;
    }
}

/*GALAXY S9 PLUS */
@media only screen and (min-width: 360px) and (orientation: portrait) {
    .fab {
    font-size: 1.5em;
    margin: 1.8rem;
    border: 1px solid #2a3440;
    width: 50px;
    padding: 13px;
    background-color: #2a3440;
    color: #ececea;
    text-decoration:none !important;
    user-select: none;
    }
}

@media only screen and (device-width : 1024px) and (device-height : 1366px) {
    footer {
    padding-top: 1vw;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #171b24;
}

.fab {
    font-size: 3em;
    margin: 3rem;
    border: 1px solid #2a3440;
    width: 80px;
    height: 75px;
    padding: 18px;
    background-color: #2a3440;
    color: #ececea;
    text-decoration:none !important;
    user-select: none;
}


.fab:hover {
    color: #2a3440;
    transform: scale(0.90);
    transition: 0.1s;
    background-color: #ececea;
    box-shadow: none;
}

.copyright {
    position: relative;
    }
}
