html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

/* FRONT PAGE */
.hero {
    max-width: 100%;
    max-height: auto;
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("back.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

@media (max-width: 600px) {
    .hero {
    max-width: 100%;
    margin-bottom: -5px;
    max-height: auto;
    display: inline-block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("back.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    }
}


.hero-inner {
    margin-top: 0;
    margin-bottom: 0.5em;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ececea;
    overflow: hidden;
}


#title {
    position: absolute;
    top: 52%;
    font-family: 'Pacifico', cursive;
    width: 20vw;
    font-weight: lighter;
    font-size: 3.5vw;
    text-align:center;
    text-transform: uppercase;
    cursor: default;
    user-select: none;
    color: white;
}


@media (max-width: 600px) {
    #title {
    position: absolute;
    top: 15%;
    font-family: 'Pacifico', cursive;
    width: 20vw;
    font-weight: lighter;
    text-align:center;
    text-transform: uppercase;
    cursor: default;
    user-select: none;
    color: white;  
    }
}

@media(device-width: 360px),(device-height: 740px) {
    #title {
    position: absolute;
    top: 15%;
    font-family: 'Pacifico', cursive;
    width: 50%;
    font-weight: lighter;
    text-align:center;
    text-transform: uppercase;
    cursor: default;
    user-select: none;
    color: white;
        
}
}


@media (max-width: 600px) {
    .hero-inner {
    margin-top: 0;
    margin-bottom: 0.5em;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ececea;
    overflow: hidden;
    }
}




.glyphicon {
    position: absolute;
    content:"\e259";
    top:90%;
    font-size: 2vw;
    cursor: pointer;
    padding: 10px;
}

.glyphicon:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.glyphicon:hover {
    border-style: solid;
    border-width: thin;
    border-radius: 100px;
    transition: 0.8s;
}

@media (max-width: 600px) {
    .glyphicon {
        display: none;
    }
}





/*nav bar*/
.navbar {
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    border: none;
    z-index: 100;
}

.nav li a {
    color: #ececea !important;
}

ul {
    display: inline-block;
    width: 100%;
    text-align: center;
}

li {
    padding: 0px 20px 2px 10px;
    font-size: 1.25vw;
    letter-spacing: 2px;
    cursor: pointer;
    display: inline-block;
}

li:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.navbar.solid {
  background-color: #171b24;
  transition: background-color 1s ease 0s;
}

@media (max-width: 600px) {
    ul {
        display: flex;
    }
}

@media (max-width: 600px) {
    li {
        padding: 0px 20px 0px 20px;
        font-size: 3vw;
        position: relative;
        left: 24px;
    }
}


/*ABOUT SECTION*/
#about {
    position: relative;
    padding-top: 1px;
    background-color:#ececea ;
    color: #2a3440;
    padding-bottom: 5vw;
}
#about_descript {
    margin: 20px;
	word-spacing: 5px;
    letter-spacing: 2px;
	line-height: 48px;
	font-size:1.5em;
	padding-left: 10px;
	padding-top:10px;
	font-weight: 200px;
    text-align: justify;
    font-size: 1vw;
    width: 50%;
    justify-content: center;
    position: relative;
    left: 23.5%;
}

@media (max-width: 600px) {
    #about_descript {
    margin-top:10px;
	line-height: normal;
	font-size: 3.5vw;
	padding: 20px 25px 50px 25px;
	font-weight: 100px;
    text-align: justify;
    width: 100%;
    justify-content: center;
    position: relative;
    left: 0%;
    display: flex;
        
    }
}

@media(device-width: 360px),(device-height: 740px) {
    #about {
    position: relative;
    padding-top: 1px;
    background-color:#ececea ;
    color: #2a3440;
    padding-bottom: 5vw;
    margin-top: -30px;
    }
}


h2 {
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
    padding-top: 30px;
    font-weight: bold;
    letter-spacing: 10px;
    
    
}

@media (max-width: 600px) {
    h2 {
        font-size: 1em;
        padding-top: 0px;
    }
}

/*PROJECTS SECTION*/
#projects {
    text-transform: uppercase;
    margin-top: -20px;
    margin-bottom: -10px;
}

h3 {
    text-align: center;
	font-size: 2em;
	text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
    color: #ececea;
    padding-top: 4vw;
    padding-bottom: 5vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("back.jpg");
    background-position: left;
}

#comingsoon {
    text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
    padding: 7vw 0px 7vw 0px;
    background-color: #ececea;
    margin-top: -10px;
}


@media (max-width: 600px) {
    h3 {
        position: relative;
        left: 1%;
    }
}


/*CONTACT FORM*/
#contact {
    background-color: #ececea;
    color: #2a3440;
    padding-bottom: 1vw;
}

h4 {
    text-align: center;
	font-size: 2em;
	text-transform: uppercase;
    padding-top: 4vw;
    padding-bottom: 5vw;
    font-weight: bold;
    letter-spacing: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("back.jpg");
    background-position: bottom;
    color: #ececea;
    
}
/*CONTACT FORM*/
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

.body {
    display:block;
    margin:0 auto;
    width:576px;
}

/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
    padding-top: 1vw;
}

/* Style the text boxes */
input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:0px;
    font-weight: bold;
    letter-spacing: 1px;
    border-width: 1px;
    border-color: #171b24;
    background-color: #ececea;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

textarea {
	height:213px;
	background:url(images/textarea-bg.jpg) right no-repeat #ececea;
}

@media (max-width:600px) {
    input, textarea {
        width: 400px;
    }
}

#submit {
    width:127px;
    height:38px;
    cursor:pointer;
    position:relative;
    left: 35%;
}

	#submit:hover {
	    opacity:.5;
        transition: 0.1s;
	}
@media (max-width:  600px) {
    #submit {
        left: 140px;
        margin-bottom: 3px;
    }
}

/*FOOTER*/
footer {
    padding-top: 1vw;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #171b24;
}

.fab {
    font-size: 2em;
    margin: 3rem;
    border: 1px solid #2a3440;
    width: 50px;
    padding: 10px;
    background-color: #2a3440;
    color: #ececea;
    text-decoration:none !important;
    user-select: none;
}

@media (max-width:600px) {
    .fab {
    font-size: 1.5em;
    margin: 2rem;
    border: 1px solid #2a3440;
    width: 50px;
    padding: 13px;
    background-color: #2a3440;
    color: #ececea;
    text-decoration:none !important;
    user-select: none;
    }
}

.fab:hover {
    color: #2a3440;
    transform: scale(0.90);
    transition: 0.1s;
    background-color: #ececea;
    box-shadow: none;
    
}

.copyright {
    position: relative;
}
    
